.primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.container {
    max-width: 39rem;
    padding: 0 1rem;
    margin: 2rem auto 0rem;
  }

  .containerWide {
    width: 100%;
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerMw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.8em;
  }

  .headerBeige {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.8em;
  }

  @media(max-width: 700px) {
    .headerBeige, .headerMw {
      display: none;
    }
    .container {
      padding: 0 1em;
    }
    .container, .containerWide {
      font-size: 0.95em;
      margin-top: 180px;
    }
  }

  .navigationItem {
    display: inline-block;
    gap: 10px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: hsl(60, 9.146341463414625%, 18.372549019607842%);
    font-family: var(--font-family-nav);
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s ease-in-out;
  }

.navigationItemActive {
    background-color: var(--bg-contrast-1);
    color: var(--primary-color);
}

  .navigationItem:hover {
    background-color: var(--bg-contrast-1);
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .loadMore {
    font-weight: 500;
    background-color: #774c2814;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    transition: 2s;
  }

  .loadMore:hover {
    background-color: #d0c4f4;
  }

  .commentInput {
    display: flex;
    gap: 4px;
  }

  .commentInput textarea,
  .commentInput input[type="email"] {
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: transparent;
    outline: 1px solid #b9b9b9;
    font-size: 15px;
    box-sizing: border-box;
    resize: none;
  }

  .commentInput input[type="email"] {
    height: 45px;
  }

  .commentInput textarea {
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    height: 105px;
    max-height: 400px;
    background-color: transparent;
    outline: 1px solid #b9b9b9;
    font-size: 15px;
    box-sizing: border-box;
    resize: none;
  }

  .commentInput textarea:focus,
  .commentInput input[type="email"]:focus {
    outline: 2px solid #715abb;
  }

  .button {
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    text-align: center;
    padding: 10px 20px;
    opacity: 1;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--font-family-body);
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
  }

  .button:disabled {
    opacity: 0.2;
    cursor:auto;
  }

  .commentButtonContainer {
    align-self: flex-end;
  }

.commentContainer {
  flex-direction: column;
  gap: 8px;
}