
.commentHead {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -10px;
}

.comment_input_wrap form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    margin: 0;
}

.comment_input_head {
    flex: 0 0 32px;
}

.comment_input_right {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.commentBody {
    font-size: 18px;
}

.avatar {
    flex: 0 0 5em;
    background-color: #d0c4f4;
    text-align: center;
    line-height: 45px;
    color: var(--primary-color);
    border-radius: 50px;
    font-weight: 500;
    max-height: 45px;
    max-width: 45px;
    cursor: pointer;
}

.commentContainer {
    position: relative;
}