:root {
  --primary-color: #715abb;
  --body-color: #152644;
  --bg-contrast-1: #80808021;
  --tag-bg-color: #ffffff;
  --skeleton-bg: #c7c4daba;
  --font-family-body: inter, system-ui, -apple-system, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

body {
  animation: fade ease 2s;
  animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

h5 {
  font-weight: 900;
  font-size: 1.1rem;
  margin: 5px 0px;
}

.sub {
  background-color: #BEB3FF;
  padding: 30px;
  margin-block: 20px;
  border-radius: 15px;
}

.sub form,
.subAdmin form {
  display: flex;
  gap: 10px;
  margin-block: 15px;
}

.sub form input {
  border: solid #071C3A;
  color: #071C3A;
}

.sub form input::placeholder {
  color: inherit;
}

table {
  overflow-x: hidden;
}

table {
  border-radius: 10px;
  display: table;
    overflow: visible;
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
}

tr {
    display: table;
    overflow: visible;
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
    margin-right: 200px;
    text-align: left;
    padding: 0 12px;
    height: 44px;
    display: table-row;
}

tbody tr:nth-child(odd) {
  background-color: #e8ddfc;
}

.purple {
  --body-bg: #FBF9F1;
}

.green {
  --body-bg: #f5f5dc;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  color: var(--body-color);
  background-color: var(--body-bg);
  letter-spacing: 0.1px;
  line-height: 1.6;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1.15rem;
}

textarea {
  font-family: var(--inter);
}

::selection {
  background-color: rgb(117 103 220 / 40%);
}

a {
  /* color: #329f24; */
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section img {
  width: 100%;
  height: auto;
}

.tag {
  border: solid;
  border-radius: 20px;
  padding: 8px 14px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
}

.siteTitle {
  font-family: var(--sourceSerif4);
  letter-spacing: 0.8px;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 900;
  color: #142744;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.siteTitle:hover {
  background-color: var(--bg-contrast-1);
}

.gradient-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--body-bg) 100%);
  width: auto;
  height: 100px;
  position: sticky;
  display: block;
  z-index: 10;
  margin: -100px -30px 0;
  bottom: -30px;
}

footer {
  writing-mode: vertical-rl;
  /* background-color: rgb(255, 225, 154); */
  color: #010101;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  bottom: 50px;
  position: sticky;
  margin-right: -50px;
}

@media (width < 700px) {
  .sub form {
    flex-direction: column;
  }
  footer {
    position: relative;
    writing-mode: horizontal-tb;
    margin: 0;
    bottom: 0;
  }
}
