html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #152644;
  background-color: #e9e4f2;
}

* {
  box-sizing: border-box;
}

a {
  /* color: #329f24; */
  color: #715abb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.tag {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 14px;
  margin-right: 10px;
}