.purple {
  --body-bg: #e9e4f2;
}

.green {
  --body-bg: #f5f5dc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;
  color: #152644;
  background-color: var(--body-bg);
  box-sizing: border-box;
  letter-spacing: 0.1px;
  line-height: 1.6;
  font-weight: 400;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  font-size: 1.15rem;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgb(102 90 187 / 40%);
}

a {
  /* color: #329f24; */
  color: #715abb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.tag {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 14px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.siteTitle {
  font-family: "Source Serif Pro", Georgia, Montserrat, sans-serif;
  letter-spacing: 0.8px;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 900;
  color: #142744;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.siteTitle:hover {
  background-color: #80808014;
}

footer {
  background-color: rgb(255, 225, 154);
  color: #010101;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  bottom: 0;
  position: sticky;
}

@media(max-width: 700px) {
  footer {
    position: relative;
  }
}