.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .headingSmall {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 500;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .recommendedEntry {
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin: 0 0 0.2rem;
  }

  .recommendedEntry:hover {
    background-color: #80808014;
  }

  .fullWidthGrid {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    column-gap: 2em;
  }

  .fullWidthGrid:nth-child(1) {
    padding-top: 0;
  }

  .fullWidthGrid:nth-child(2) {
    background-color:ivory;
  }

  .shiftedImage {
    position: relative;
    right: -43px;
  }

  @media(max-width: 600px) {
    .fullWidthGrid {
      overflow: hidden;
      padding: 1em;
    }
    .shiftedImage {
      right: 0px;
    }
    .recommendedEntry {
      padding: 0em;
      font-size: 0.9em;
    }
  }

  .fullWidthGrid h1 {
    font-weight: 900;
    flex: 100%;
    margin: 20px auto;
    font-family: "Source Serif Pro", Georgia, Montserrat, sans-serif;
    font-size: 52px;
    line-height: 1.1;
    color: #152644;
  }

  .fullWidthGrid > div {
    flex: 1 1 400px;
  }

  .fullWidthGrid a {
    text-transform: uppercase;
    font-size: 15px;
  }